server:
  port: 8080

spring:
  application.name: factory
  profiles:
    active: dev

  devtools:
    livereload:
      enabled: true
    restart:
      enabled: true
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
    hibernate:
      ddl-auto: update

dataSource:
  driverClassName: com.mysql.jdbc.Driver
  jdbcUrl: jdbc:mysql://localhost:3306/kyx_prod_check?useUnicode=true&characterEncoding=UTF-8
  username: root
  password: 123456
  poolName: springHikariCP
  autoCommit: false
  minimumIdle: 20
  maximumPoolSize: 20
  connectionInitSql: SELECT 1
  dataSourceProperty:
    cachePrepStmts: true
    prepStmtCacheSize: 250
    prepStmtCacheSqlLimit: 2048
    useServerPrepStmts: true

pebble:
  cache: false
  suffix: .html




