{% import "fragments/breadcrumb" %}
{% extends "layout" %}

{% block title %} 生产配置 {% endblock %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            sn管理
            <small></small>
        </h1>
        {{ breadcrumb("briefcase", "sn管理", "初始化", "列表") }}
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">列表</h3>
            </div>
            <div class="box-body">
                <div id="toolbar">
                    设备：
                    <select class="selectpicker" id="device" name="device">
                        <option value="">所有</option>
                        {% for device in devices %}
                        <option value="{{device}}">{{device}}</option>
                        {% endfor %}
                    </select>

                   <!-- <button id="export" class="btn btn-primary">
                        <i class="glyphicon glyphicon-search"></i> 导出
                    </button>  -->
                    <!--<button id="remove" class="btn btn-danger" disabled>-->
                        <!--<i class="glyphicon glyphicon-remove"></i> 删除-->
                    <!--</button>-->

                    {% if userdetails.username == admin %}
                    <button id="add" class="btn btn-primary">
                        <i class="glyphicon glyphicon-plus"></i> 新建
                    </button>
                    {% endif %}


                </div>
                <table class="table">
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </section>
</div>
<!-- Modal -->
<div class="modal" id="packet-edit-modal" tabindex="-1" role="dialog" aria-labelledby="packet-edit-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" id="cross">&times;</span></button>
                <h4 class="modal-title" id="packet-edit-modal-label">title</h4>
            </div>
            <div class="modal-body">
                <form action="/sn_initialize" id="snForm" method="post">
                    <div class="form-group">
                        <label class="control-label">设备</label>
                        <select class="form-control" id="form_device" name="device">
                            {% for device in devices %}
                            <option value="{{device}}">{{device}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">起始sn号</label>
                        <input type="number" class="form-control" id="startSn" name="startSn">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"  id="close" data-dismiss="modal">关闭</button>
                <button id="save" type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block body_script %}
<script type="text/javascript" src="/js/bower_components/moment/min/moment-with-locales.min.js"></script>
<script type="text/javascript" src="/js/bower_components/jquery/dist/jquery.form.js"></script>
{% include "include/bootstrap-table" %}
<script>
       admin = "{{admin}}";
</script>
<script src="/js/app/config/sn-list.js"></script>
{% endblock %}
