{% import "fragments/breadcrumb" %}
{% extends "layout" %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Blank page
            <small>it all starts here</small>
        </h1>
        {{ breadcrumb("dashboard", "Home", "Sub", "title") }}
    </section>

    <!-- Main content -->
    <section class="content">
        test
    </section>
</div>
{% endblock %}