<!DOCTYPE html>
<html>
<head><meta charset="utf8">
<title>产测统计</title>
</head>
<body>
<div id="container">
    <div class="title">订单信息</div>
    <div class="search">
        <input type="text" placeholder="请输入订单号">
        <div onclick="startInterval()">GO</div>
    </div>
    <div style="display: inline-block;width: 25%; margin-bottom: 20px;">
        <canvas id="success-All" />
    </div>
    <div class="progressData" id="data1" style="margin-bottom: 30px;">
        <div>订单单号：<span></span></div>
        <div>生产工厂：<span></span></div>
        <div>生产设备：<span></span></div><br>
        <div>订单状态：<span></span></div>
        <div>订单日期：<span></span></div>
        <div>验收日期：<span></span></div>
        <div>总计生产数量：<span></span></div>
        <div>完成良品数量：<span></span></div>
        <div>完成失败数量：<span></span></div><br>
        <div>已用时：<span></span></div>
        <div>还需完成数量：<span></span></div>
        <div>剩余良品用时（估算）：<span></span></div>
        <div class="bar">
          <div class="numData" style="width: 0;">
            <span></span>
          </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="title">每日生产统计</div>
    <div id="canvas-holder" style="width: 100%">
        <canvas id="bar-daily" style="height: 350px;width: 100%; margin-top: -35px;"/>
    </div>
    <div class="title">GPS信号分布</div>
    <div id="canvas-holder" style="width:30%; margin-left: 10%;">
        <canvas id="pie-gps" />
    </div>
    <div class="progressData" id="data3">
    </div>
    <div class="title">电压曲线图</div>
    <div class="progressData" id="data4">
        <div>平均值：<span></span></div>
        <div>范围内值数量：<span></span></div>
        <div>范围内值占比：<span></span></div>
    </div>
    <div id="canvas-holder" style="width:100%">
        <canvas id="line-vol" />
    </div>
    <div class="title">模块失败率</div>
    <div id="canvas-holder" style="width:24%; margin-left: 1%;">
        <canvas id="failed-A" />
    </div>
    <div id="canvas-holder" style="width:24%">
        <canvas id="failed-G" />
    </div>
    <div id="canvas-holder" style="width:24%">
        <canvas id="failed-V" />
    </div>
    <div id="canvas-holder" style="width:24%">
        <canvas id="failed-gps" />
    </div>
    <div id="canvas-holder" style="width:24%; margin-left: 1%;">
        <canvas id="failed-F" />
    </div>
    <div id="canvas-holder" style="width:24%">
        <canvas id="failed-E" />
    </div>
    <div id="canvas-holder" style="width:24%">
        <canvas id="failed-gprs" />
    </div>
    <div id="canvas-holder" style="width:24%">
        <canvas id="failed-All" />
    </div>
    <div class="title">六轴曲线图</div>
    <div id="canvas-holder" style="width:100%">
        <canvas id="line-six" />
    </div>
</div>
<script src="./js/jquery-2.1.3.min.js"></script>
<script src="./js/jquery.tmpl.js"></script>
<script src="./js/chartjs/Chart.bundle.js"></script>
<script src="./js/chartjs/utils.js"></script>
<script src="./js/moment.js"></script>

<script id="myTmpl" type="text/x-jquery-tmpl">
</script>
<script>
    var timer;
    function startInterval() {
        clearInterval(timer);
        timer = setInterval(searchInfo, 600000);
        searchInfo();
    }
    function searchInfo() {
        const url = `/analyse/order?orderNo=${$('.search>input')[0].value}`;
        $.ajax({
            url: url,
            type: 'get',
            async: true,
            success: (data) => {
                const d = data.data;
                if (data.data) {
                    if (d.state === 0) {
                        $('#data1>div>span')[3].innerHTML = '新建';
                    } else if (d.state === 1) {
                        $('#data1>div>span')[3].innerHTML = '生产中';
                    } else if (d.state === 2) {
                        $('#data1>div>span')[3].innerHTML = '暂停';
                    }
                    $('#data1>div>span')[0].innerHTML = $('.search>input')[0].value;
                    $('#data1>div>span')[1].innerHTML = d.factory;
                    $('#data1>div>span')[2].innerHTML = d.device;
                    $('#data1>div>span')[4].innerHTML = moment(d.schedule_begin).format('YYYY-MM-DD HH:mm:ss');
                    $('#data1>div>span')[5].innerHTML = moment(d.schedule_finish).format('YYYY-MM-DD HH:mm:ss');
                    $('#data1>div>span')[6].innerHTML = d.quantity;
                    searchInfo2(d.quantity);
                }
            },
            error: (e) => {
                console.log(e);
            }
        })
    }
    function searchInfo2(q) {
        const url2 = `/analyse/progress/order?orderNo=${$('.search>input')[0].value}`;
        $.ajax({
            url: url2,
            type: 'get',
            success: (data) => {
                const d = data.data;
                if (data.data) {
                    searchChart(d.finished_count, d.failed_count);
                    drawFailedAll(d.finished_count, d.failed_count);
                    $('#data1>div>span')[7].innerHTML = d.finished_count;
                    $('#data1>div>span')[8].innerHTML = d.failed_count;
                    const costTime = (d.cost_time / 3600).toFixed(2, 10);
                    $('#data1>div>span')[9].innerHTML = costTime + 'h';
                    const surplus = Number(q) - Number(d.finished_count);
                    const speed = d.cost_time / d.finished_count;
                    const time = (surplus * speed / 3600).toFixed(2, 10);
                    const percent = (d.finished_count * 100 / q).toFixed(2, 10);
                    const width = 8 * percent;
                    $('#data1>div>span')[10].innerHTML = surplus;
                    $('#data1>div>span')[11].innerHTML = time + 'h';
                    $('.numData').css('width', width);
                    $('.numData > span').html(percent + '%');
                }
            },
            error: (e) => {
                console.log(e);
            }
        })
    }
    function searchChart(finished, failed) {
        const url3 = `/analyse/gps/order?orderNo=${$('.search>input')[0].value}`;
        $.ajax({
            url: url3,
            type: 'get',
            success: (data) => {
                const d = data.data;
                if (data.data) {
                    const arr1 = ['0~2', '3~10', '11~20', '21~50'];
                    let arr2 = [0, 0, 0, 0];
                    $('#data3').empty();
                    data.data.map((d) => {
                        if (d[0] >= 0 && d[0] <= 2) {
                            arr2[0] += d[1];
                        } else if (d[0] >= 3 && d[0] <= 10) {
                            arr2[1] += d[1];
                        } else if (d[0] >= 11 && d[0] <= 20) {
                            arr2[2] += d[1];
                        } else if (d[0] >= 21 && d[0] <= 50) {
                            arr2[3] += d[1];
                        }
                        $(`<div>${d[0]}：<span>${d[1]}</span></div>`).appendTo("#data3");
                        return arr2;
                    })
                    $(`<div>失败数量：<span>${arr2[0]}</span></div>`).appendTo("#data3");
                    const f = (arr2[0] * 100 / (Number(finished) + Number(failed))).toFixed(2, 10);
                    $(`<div>失败率：<span>${f}%</span></div>`).appendTo("#data3");
                    $(`<div style="width: 100%;margin-top: 20px;"><span>注：信号大于等于3为成功</span></div>`).appendTo("#data3");
                    drawPieGps(arr1, arr2);
                    drawFailedGps(finished, failed, arr2[0]);
                }
            },
            error: (e) => {
                console.log(e);
            }
        })
        const url4 = `/analyse/battery_voltage/order?orderNo=${$('.search>input')[0].value}`;
        $.ajax({
            url: url4,
            type: 'get',
            success: (data) => {
                const d = data.data;
                if (data.data) {
                    let average = 0;
                    let num = 0;
                    let numV = 0;
                    const arr1 = [];
                    const arr3 = [];
                    data.data.map((d) => {
                        average += d / (data.data.length);
                        arr1.push('');
                    })
                    data.data.map((d) => {
                        arr3.push(average);
                        if (d >= (average * 0.95) && d <= (average * 1.05)) {
                            num += 1;
                        }
                        if (d > 15000 || d < 13000) {
                            numV += 1;
                        }
                        return num;
                    })
                    $('#data4>div>span')[0].innerHTML = average;
                    $('#data4>div>span')[1].innerHTML = num;
                    $('#data4>div>span')[2].innerHTML = (num * 100 / (Number(finished) + Number(failed))).toFixed(2, 10) + '%';

                    drawLineVol(arr1, data.data, arr3);
                    drawFailedV(Number(finished) + Number(failed) - numV, numV);
                }
            },
            error: (e) => {
                console.log(e);
            }
        })
        const url5 = `/analyse/flash/order?orderNo=${$('.search>input')[0].value}`;
        $.ajax({
            url: url5,
            type: 'get',
            success: (data) => {
                const d = data.data;
                if (data.data) {
                    let numF = 0;
                    data.data.map((d) => {
                        if (d !== 1) {
                            numF += 1;
                        }
                    })
                    drawFailedF(Number(finished) + Number(failed) - numF, numF);
                }
            },
            error: (e) => {
                console.log(e);
            }
        })
        const url6 = `/analyse/eeprom/order?orderNo=${$('.search>input')[0].value}`;
        $.ajax({
            url: url6,
            type: 'get',
            success: (data) => {
                const d = data.data;
                if (data.data) {
                    let numE = 0;
                    data.data.map((d) => {
                        if (d !== 1) {
                            numE += 1;
                        }
                    })
                    drawFailedE(Number(finished) + Number(failed) - numE, numE);
                }
            },
            error: (e) => {
                console.log(e);
            }
        })
        const url7 = `/analyse/gprs/order?orderNo=${$('.search>input')[0].value}`;
        $.ajax({
            url: url7,
            type: 'get',
            success: (data) => {
                const d = data.data;
                if (data.data) {
                    let numG = 0;
                    data.data.map((d) => {
                        if (d !== 1) {
                            numG += 1;
                        }
                    })
                    drawFailedGprs(Number(finished) + Number(failed) - numG, numG);
                }
            },
            error: (e) => {
                console.log(e);
            }
        })
        const url8 = `/analyse/daily_stat/order?orderNo=${$('.search>input')[0].value}`;
        $.ajax({
            url: url8,
            type: 'get',
            success: (data) => {
                const d = data.data;
                if (data.data) {
                    const arr1 = [];
                    const success = [];
                    const failed = [];
                    for (let i = 0; i < data.data.length; i += 1) {
                        if (arr1[0] && arr1[arr1.length - 1] === moment(data.data[i][0]).format('YYYY-MM-DD')){
                            if (data.data[i][1] === 1) {
                                failed[failed.length - 1] += data.data[i][2];
                            } else if (data.data[i][1] === 0) {
                                success[success.length - 1] += data.data[i][2];
                            }
                        } else {
                            let time = moment(data.data[i][0]).format('YYYY-MM-DD');
                            // console.log(time);
                            if (arr1[0] && moment(arr1[arr1.length - 1]).add(1, "days").format('YYYY-MM-DD') !== time ) {
                                for (let i = 0; i < 30; i += 1) {
                                    arr1.push(moment(arr1[arr1.length - 1]).add(1, "days").format('YYYY-MM-DD'));
                                    success.push('');
                                    failed.push('');
                                    if (moment(arr1[arr1.length - 1]).add(1, "days").format('YYYY-MM-DD') === time) {
                                        break;
                                    }
                                }
                            }
                            arr1.push(time);
                            if (data.data[i][1] === 1) {
                                failed.push(data.data[i][2]);
                                success.push(0);
                            } else if (data.data[i][1] === 0) {
                                success.push(data.data[i][2]);
                                failed.push(0);
                            }
                        }
                    }
                    drawBarDaily(arr1, success, failed);
                }
            },
            error: (e) => {
                console.log(e);
            }
        })
        searchLineSixA(finished, failed);
    }
    function searchLineSixA(finished, failed) {
        const url5 = `/analyse/accelerator/order?orderNo=${$('.search>input')[0].value}`;
        const arr1 = [];
        const arr2 = [];
        const arr3 = [];
        const arr4 = [];
        $.ajax({
            url: url5,
            type: 'get',
            success: (data) => {
                const d = data.data;
                if (data.data) {
                    data.data.map((d) => {
                        arr1.push('');
                        arr2.push(d[0]);
                        arr3.push(d[1]);
                        arr4.push(d[2]);
                        return arr4;
                    })
                    searchLineSixG(arr1, arr2, arr3, arr4, finished, failed);
                }
            },
            error: (e) => {
                console.log(e);
            }
        })
    }
    function searchLineSixG(arr1, arr2, arr3, arr4, finished,failed) {
        const url6 = `/analyse/gyroscope/order?orderNo=${$('.search>input')[0].value}`;
        const arr5 = [];
        const arr6 = [];
        const arr7 = [];
        $.ajax({
            url: url6,
            type: 'get',
            success: (data) => {
                const d = data.data;
                if (data.data) {
                    data.data.map((d) => {
                        arr5.push(d[0]);
                        arr6.push(d[1]);
                        arr7.push(d[2]);
                        return arr7;
                    })
                    drawLineSix(arr1, arr2, arr3, arr4, arr5, arr6, arr7, finished, failed);
                }
            },
            error: (e) => {
                console.log(e);
            }
        })
    }
    var randomScalingFactor = function() {
        return Math.round(Math.random() * 100);
    };
    function drawPieGps(arr1, arr2) {
        var configPieGps = {
            type: 'pie',
            data: {
                datasets: [{
                    data: arr2,
                    backgroundColor: [
                        '#f44336',
                        '#ffeb3b',
                        '#9dea33',
                        '#21ea2a',
                    ],
                    label: 'Dataset 1'
                }],
                labels: arr1,
            },
            options: {
                responsive: true
            }
        };
        var ctx1 = document.getElementById("pie-gps").getContext("2d");
        window.pieGps = new Chart(ctx1, configPieGps);
    }
    function drawLineVol(arr1, arr2, arr3) {  
        var configLineVol = {
            type: 'line',
            data: {
                labels: arr1,
                datasets: [{
                    label: "电压",
                    backgroundColor: window.chartColors.red,
                    borderColor: window.chartColors.red,
                    data: arr2,
                    borderWidth: null,
                    fill: false,
                }, {
                    label: "平均值",
                    backgroundColor: window.chartColors.blue,
                    borderColor: window.chartColors.blue,
                    data: arr3,
                    pointRadius: 0,
                    fill: false,
                    borderDash: [20, 5],
                }]
            },
            options: {
                responsive: true,
                title:{
                    display:true,
                    text:'电压曲线图'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: '电压（mV）'
                        }
                    }]
                }
            }
        };
        var ctx4 = document.getElementById("line-vol").getContext("2d");
        window.lineVol = new Chart(ctx4, configLineVol);
    } 
    function drawLineSix(arr1, arr2, arr3, arr4, arr5, arr6, arr7, finished, failed) {
        const total = Number(finished) + Number(failed);
        let numA = 0;
        let numG = 0;
        for (let i = 0; i < arr1.length; i += 1) {
            if (arr2[i] > 100 || arr2[i] < -100 || arr3[i] > 100 || arr3[i] < -100 || arr4[i] > 100 || arr4[i] < -100) {
                numA += 1;
            }
            if (arr5[i] > 100 || arr5[i] < -100 || arr6[i] > 100 || arr6[i] < -100 || arr7[i] > 100 || arr7[i] < -100) {
                numG += 1;
            }
        }
        drawFailedA(total - numA, numA);
        drawFailedG(total - numG, numG);
        var configLineSix = {
            type: 'line',
            data: {
                labels: arr1,
                datasets: [{
                    label: "加速度计x轴",
                    backgroundColor: window.chartColors.red,
                    borderColor: window.chartColors.red,
                    data: arr2,
                    fill: false,
                    pointRadius: 0,
                }, {
                    label: "加速度计y轴",
                    backgroundColor: window.chartColors.orange,
                    borderColor: window.chartColors.orange,
                    data: arr3,
                    fill: false,
                    pointRadius: 0,
                }, {
                    label: "加速度计z轴",
                    backgroundColor: window.chartColors.yellow,
                    borderColor: window.chartColors.yellow,
                    data: arr4,
                    fill: false,
                    pointRadius: 0,
                }, {
                    label: "陀螺仪x轴",
                    backgroundColor: window.chartColors.green,
                    borderColor: window.chartColors.green,
                    data: arr5,
                    fill: false,
                    pointRadius: 0,
                }, {
                    label: "陀螺仪y轴",
                    backgroundColor: window.chartColors.blue,
                    borderColor: window.chartColors.blue,
                    data: arr6,
                    fill: false,
                    pointRadius: 0,
                }, {
                    label: "陀螺仪z轴",
                    backgroundColor: window.chartColors.purple,
                    borderColor: window.chartColors.purple,
                    data: arr7,
                    fill: false,
                    pointRadius: 0,
                }]
            },
            options: {
                responsive: true,
                title:{
                    display:true,
                    text:'六轴曲线图'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            // labelString: '电压'
                        }
                    }]
                }
            }
        };
        var ctx5 = document.getElementById("line-six").getContext("2d");
        window.lineSix = new Chart(ctx5, configLineSix);
    }
    function drawFailedGps(finished, failed, num) {
        var configFailedGps = {
            type: 'pie',
            data: {
                datasets: [{
                    data: [
                        num,
                        Number(finished) + Number(failed) - Number(num),
                    ],
                    backgroundColor: [
                        window.chartColors.red,
                        window.chartColors.green,
                    ],
                }],
                labels: [
                    "GPS失败",
                    "成功",
                ]
            },
            options: {
                responsive: true
            }
        };
        var ctx2 = document.getElementById("failed-gps").getContext("2d");
        window.failedGps = new Chart(ctx2, configFailedGps);
    }
    function drawFailedA(finished, failed) {
        var configFailedA = {
            type: 'pie',
            data: {
                datasets: [{
                    data: [
                        failed,
                        finished,
                    ],
                    backgroundColor: [
                        window.chartColors.red,
                        window.chartColors.green,
                    ],
                }],
                labels: [
                    "加速度计失败",
                    "成功",
                ]
            },
            options: {
                responsive: true
            }
        };
        var ctx2 = document.getElementById("failed-A").getContext("2d");
        window.failedA = new Chart(ctx2, configFailedA);
    }
    function drawFailedG(finished, failed) {
        var configFailedG = {
            type: 'pie',
            data: {
                datasets: [{
                    data: [
                        failed,
                        finished,
                    ],
                    backgroundColor: [
                        window.chartColors.red,
                        window.chartColors.green,
                    ],
                }],
                labels: [
                    "陀螺仪失败",
                    "成功",
                ]
            },
            options: {
                responsive: true
            }
        };
        var ctx2 = document.getElementById("failed-G").getContext("2d");
        window.failedG = new Chart(ctx2, configFailedG);
    }   
    function drawFailedV(finished, failed) {
        var configFailedV = {
            type: 'pie',
            data: {
                datasets: [{
                    data: [
                        failed,
                        finished,
                    ],
                    backgroundColor: [
                        window.chartColors.red,
                        window.chartColors.green,
                    ],
                }],
                labels: [
                    "电压失败",
                    "成功",
                ]
            },
            options: {
                responsive: true
            }
        };
        var ctx2 = document.getElementById("failed-V").getContext("2d");
        window.failedV = new Chart(ctx2, configFailedV);
    } 
    function drawFailedF(finished, failed) {
        var configFailedF = {
            type: 'pie',
            data: {
                datasets: [{
                    data: [
                        failed,
                        finished,
                    ],
                    backgroundColor: [
                        window.chartColors.red,
                        window.chartColors.green,
                    ],
                }],
                labels: [
                    "flash失败",
                    "成功",
                ]
            },
            options: {
                responsive: true
            }
        };
        var ctx2 = document.getElementById("failed-F").getContext("2d");
        window.failedF = new Chart(ctx2, configFailedF);
    }
    function drawFailedE(finished, failed) {
        var configFailedE = {
            type: 'pie',
            data: {
                datasets: [{
                    data: [
                        failed,
                        finished,
                    ],
                    backgroundColor: [
                        window.chartColors.red,
                        window.chartColors.green,
                    ],
                }],
                labels: [
                    "eeprom失败",
                    "成功",
                ]
            },
            options: {
                responsive: true
            }
        };
        var ctx2 = document.getElementById("failed-E").getContext("2d");
        window.failedE = new Chart(ctx2, configFailedE);
    }
    function drawFailedGprs(finished, failed) {
        var configFailedGprs = {
            type: 'pie',
            data: {
                datasets: [{
                    data: [
                        failed,
                        finished,
                    ],
                    backgroundColor: [
                        window.chartColors.red,
                        window.chartColors.green,
                    ],
                }],
                labels: [
                    "gprs失败",
                    "成功",
                ]
            },
            options: {
                responsive: true
            }
        };
        var ctx2 = document.getElementById("failed-gprs").getContext("2d");
        window.failedGprs = new Chart(ctx2, configFailedGprs);
    }
    function drawFailedAll(finished, failed) {
        const num = (Number(finished) * 100 / (Number(finished) + Number(failed))).toFixed(2, 10);
        var configFailedAll = {
            type: 'pie',
            data: {
                datasets: [{
                    data: [
                        failed,
                        finished,
                    ],
                    backgroundColor: [
                        window.chartColors.red,
                        window.chartColors.green,
                    ],
                }],
                labels: [
                    "总计失败",
                    "良品率：" + num + "%",
                ]
            },
            options: {
                responsive: true
            }
        };
        var ctx1 = document.getElementById("success-All").getContext("2d");
        var ctx2 = document.getElementById("failed-All").getContext("2d");
        window.successAll = new Chart(ctx1, configFailedAll);
        window.failedAll = new Chart(ctx2, configFailedAll);
    }
    function drawBarDaily(lab, suc, fal) {
        var configBarDaily = {
            type: 'bar',
                data: {
                    labels: lab,
                    datasets: [{
                        label: '成功数量',
                        backgroundColor: window.chartColors.green,
                        borderWidth: 1,
                        data: suc,
                    }, {
                        label: '失败数量',
                        backgroundColor: window.chartColors.red,
                        borderWidth: 1,
                        data: fal,
                    }]
                },
                options: {
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                    },
                    scales: {
                        xAxes: [{
                            gridLines: {
                                display: true,
                            },
                            ticks: {
                                beginAtZero: true,
                            },
                            stacked: true,
                            barPercentage: 1,
                        }],
                        yAxes: [{
                            gridLines: {
                                display: true,
                            },
                        stacked: true,
                      }],
                    },
                }
        };
        var ctx2 = document.getElementById("bar-daily").getContext("2d");
        window.barDaily = new Chart(ctx2, configBarDaily);
    }
</script>
<style type="text/css">
    body {
        -webkit-text-size-adjust:100%;
        -ms-text-size-adjust:100%;
        text-size-adjust:100%;
        font-family:"arial";
        padding:0;
        margin:0;
    }
    #container {
        position: relative;
        max-width:1200px;
        padding: 24px;
        margin:24px auto;
        width:100%;
        height:100%;
        padding-top: 30px;
        background: #f5f5f5;
        box-shadow: 0 7px 12px rgba(0,0,0,.2);
        border: 1px solid #f5f5f5;
    }
    .clear {
        clear: both;
    }
    .search {
        position: absolute;
        right: 24px;
        top: 36px;
    }
    .search > div {
        display: inline-block;
        font-size: 12px;
        background: #00bcd4;
        border-radius: 4px;
        color: #fff;
        line-height: 18px;
        padding: 1px 8px;
        cursor: pointer;
    }
    .search > input {
        border-style: none;
        background: none;
        outline: none;
        padding: 0 8px;
        border-bottom: 1px solid #dfe6ec;
        height: 20px;
        line-height: 20px;
    }
    .search > div:hover {
        background: #3cc6d8;
    }
    #canvas-holder {
        display: inline-block;
        margin-bottom: 30px;
    }
    .title {
        border-bottom: 2px solid #dfe6ec;
        line-height: 36px;
        margin-bottom: 24px;
        padding-left: 12px;
        font-size: 18px;
        font-weight: bold;
    }
    .progress {
        margin-bottom: 30px;
    }
    .line {
      height: 40px;
      border-left: 2px solid black;
      left: 500px;
      display: inline-block;
      position: relative;
      top: -40px;
    }
    .progressData {
        font-size: 14px;
    }
    .progressData > div {
        display: inline-block;
        width: 30%;
        line-height: 30px;
        /*text-align: center;*/
    }
    .progressData > div > span {
        color: #999;
    }
    #data1 {
        width: 70%;
        float: right;
        margin-top: 4%;
    }
    #data1 > .bar {
        width: 800px;
        height: 40px;
        background: #dcdbd7;
        margin: 30px auto 3px;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: inset -1px 2px #cacac5;
    }
    .numData {
      height: 100%;
      background: -webkit-gradient(linear,0 0,800 0,from(#ff0000), color-stop(0.25, #ffa92a), color-stop(0.5, #FFEB3B), color-stop(0.75, #b1ea35), to(#21ea2a));
      border-radius: 20px;
      line-height: 40px;
      color: #fff;
    }
    .numData > span {
        margin-left: 20px;
        width: 100px;
        display: inline-block;
    }
    #data3 {
        display: inline-block;
        width: 40%;
        margin-top: 80px;
        padding-left: 10%;
        vertical-align: top;
    }
    #data3 > div {
        float: left;
        width: 40%;
    }
    #data4 {
        padding-left: 10%;
    }
</style>
</body>
</html>